@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@700&family=Roboto+Slab:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background:rgb(87 173 129 / 75%);;
}
/* nav{
  min-width: 10vh;
  background: #0f1014;
  color: white;
  position: sticky;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  font-weight: bolder;
}
nav img{
  height: 5rem;
  width: auto;
} */

/* Nav section */
.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-size: 2.6rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  text-shadow: 1px 2px 4px #ff6b8196;
}
ul a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("backgroung-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


section h1 {
  text-shadow: 2px 3px 4px #0d2520;
  word-spacing: 0.9rem;
  margin-bottom: 5rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #edf5e1;
}
.centerDiv {
  width: 35rem;
  height: 55vh;
  box-shadow: 0.1px 0.1px 10px 2px #edf5e142;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #131c278c;
  color: #edf5e1;
}

.details {
  text-align: center;
}

.details label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.details input {
  padding: 1.1rem;
  background-color: #ff6b81;
  color: white;
  text-align: center;
}
.details input[type="text"]:focus {
  border: 3px solid #555;
}

.imgdiv {
  margin: 2rem 3rem;
}
.imgdiv img{
  width: 180px;
  height: 140px;
  border-radius: 10px;
  background: rgb(19 28 39 / 50%);
}


#grid-container {
  padding: 20px;
}
.grid-row > div {
  border: 1px solid lightgrey;
  padding: 10px;
  background-color: aliceblue;
  margin: 5px 0;
}

 button {
  background: #05386b;
  width: 18rem;
  padding: 4px 0;
  border-radius: 3px;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;

}
button:hover {
  background: #041629;
} 



@media (max-width: 600px) {
  body {
    font-size: 10%;
  }
  nav{
    min-height: 10vh;
    text-align: center;
  }
  nav ul a{
    font-size: 2rem;
  }
  .centerDiv{
    width: 80vw;
    height: 55vh;
  }

  section h1 {
    word-spacing: 0.5rem;
    margin-bottom: 3.5rem;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #edf5e1;
  }
}
